# 2023-11-10, 2025-04-08

import (parallel)
import (secr)

importFrom("graphics", "lines", "points")
importFrom("stats", "var")
  
export (RFS)
export (carray)
export (randomDensity)
export (randomGaussian)
export (randomParents)
